extends ../_shared/_master
block body
    != messages()

    form(action="/items" method="POST")
        input(name="text" required type="text" placeholder="Enter text")
        button.btn.btn-success
            | Save
