<input id="input-username" />
<input id="input-password" type="password"/>
<a id="sigin-btn" class="btn btn-success" href="#/login">Login</a>
<a id="register-btn" class="btn btn-success" href="#/register">Register</a>