mixin nav()
    ul
        li
            a(href="/")
                | Home
        li
            a(href="/items")
                | Items
        li
            a(href="/auth/sign-in")
                | Sign-in
            a(href="/auth/sign-out")
                | Sign-out
