<form>
    <div class="form-group has-feedback" id="txt-group">
        <label for="todo-text">Text</label>
        <input type="text" class="form-control" id="text" placeholder="What do you want to do?" required aria-required="true">

        <small id="txt-help" class="form-text text-danger hidden">Please, fill in this field</small>
        <span class="glyphicon glyphicon-ok form-control-feedback hidden" id="txt-ok"></span>       
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" id="txt-nb"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="txt-err"></span>        
    </div>

    <div class="form-group" id="cat-group">
        <label for="todo-cat">Category</label>
        <input type="text" class="form-control" id="category" required aria-required="true">
    </div>

    <a class="btn btn-primary" href="#/addTodo">Add</a>
</form>