<h2>Todos</h2>

<p>Some text</p>
<ul>
    {{#each result}}
        <li class="list-todo">
            <h2>{{category}}</h2>
            <h3>{{text}}</h3>
            <p>{{state}}</p>
        </li>
    {{/each}}
</ul>