<form>
    <div class="form-group">
        <label for="todo-text">Text</label>
        <input type="text" class="form-control" id="todo-text" placeholder="What do you want to do?" required>
    </div>

    <div class="form-group">
        <label for="todo-category">Category</label>
        <input type="text" class="form-control" id="todo-category" required>
    </div>

    <a class="btn btn-primary" id="todo-add" href="#/addTodo">Add</a>
</form>