<h2>Todos</h2>

<a class="btn btn-success" href="#/newTodo">New Todo</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Last Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
        <tr>
            <td></td>
            <td>{{category}}</td>
            <td>{{text}}</td>
            <td>
                <!-- TODO Implement cheking-->
                <label class="form-check-label">      
                  <input type="checkbox" class="form-check-input">
                  Not done
              </label>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>