extends shared/_master

block main
    form(action="/items", method="POST")
        p
            label
                | Name: 
                input(type="text", name="name")
        p    
            label
                | Interests: 
                select(name="interests", multiple)
                    each value in [1, 2, 3, 4, 5, 6]
                        option(value=value)
                            =value
        p
            label
                | Interests 2: 
                each value in [1, 2, 3, 4, 5, 6]
                    label
                        =value
                        input(type="checkbox" value=value, name="int2")
        button
            | Create
